<% provide(:title, 'About') %>
<h1>About Great Worm Express Distro</h1>
<p>Great Worm is a <a href="http://en.wikipedia.org/wiki/Zine">zine</a> <a href="http://en.wikipedia.org/wiki/Zine#Distribution_and_circulation">distro</a> I have been running out of my home and a P.O. Box, through this website and tabling at fairs and punk rock shows, since spring 1999. You could say that I am a zine curator, choosing the zines I like best in order to give them more exposure. I have a preference for Canadian zines with highly personal, political, quality writing, but as you can see from this catalogue, I sell many other types of zines, and other products with links to the zine scene.</p>
<p>At this time, I cannot accept any submissions without a referral from someone whose zines I already sell. I have too many unlisted zines to sort through and catalogue, and I am rebuilding this site from scratch.</p>
<p>Yours in struggle, <br/>--Frandroid Atreides</p>
