<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
You can write to <strong>frandroid</strong> chez <strong> gmail </strong> dot <strong> com </strong> or call/text me at 647-886-1507 if you want to ask any questions!  

<p>Great Worm Express Distro<br>
	C.P. 19013<br>
	360A rue Bloor Ouest<br>
	Toronto, ON  M5S 3C9<br>
	Canada<br>
</p>