<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
We provide zines, bt we don't yet provide a help page. But you can write! <strong>frandroid</strong> chez <strong>gmail</strong> point <strong>com</strong> or call!  647-886-1507.
</p>