<section><div class="center intro">
<h1>Welcome back to Great Worm!</h1>
<p>This site is under construction, but I thought I would put a new version up and running right now in order to get the ball rolling to show all the new zines I'm carrying.</p>
</div>
</section>
