<% provide(:title, 'Ordering') %>
<h1>How to Order</h1>
<p>Even though I'm rebuilding the site from scratch, I don't have a shopping cart yet. The best way to order a zine is to email me with a list of the zines you want, and we'll take it from there.</p>
