/* universal */

html {
  overflow-y: scroll;
}

body {
	font-size: 100.01%;   /* fixes opera/IE/safari bugs */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: .2em;
}

.pull-right {
float:right;
}

.pull-left {
float:left;             
}        

#wrapper {
	width: 60em;
	margin: 0 auto;
}  


/* *** mixins, variables, etc. */

$grayMediumLight: #eaeaea; 
$grayLighter: #eeeeee;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


   

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-bottom: 1em;

}

h1 {
  font-size: 3em;
  letter-spacing: -1	px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 2em;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

   
/* header */

#logo {
  float: left;
  margin-right: 1em;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  /* padding-top: 9px; */
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}             

header {


}




/* Navigation */

.nav-menu li {
display : inline;
list-style-type: none;
padding-right: 2em;

}

/* Content */

.content {
padding-top: 5em;

}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
       
/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
	width: 100%;
	border: 1px solid #bbb;
	font-size: 1em;
  padding: 10px;
  height: auto;
  margin-bottom: 15px; 
	@include box_sizing;  

}

label {
cursor: pointer;  
font-size: 1.3em;  

}                

form {
}

.sign-in {

}




.btn {
	input {
		border-radius: 4px;
		width: auto;
		float: right;
	}
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }  


/* users index */

.users { 
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}
  


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


